@font-face {
    font-family: 'aritaum';
    src: url('fonts/Arita-dotum-Medium_OTF00.woff2') format('woff2'),
        url('fonts/Arita-dotum-Medium_OTF00.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aritaum';
    src: url('fonts/Arita-dotum-Bold_OTF00.woff2') format('woff2'),
        url('fonts/Arita-dotum-Bold_OTF00.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aritaum';
    src: url('fonts/Arita-dotum-Light_OTF00.woff2') format('woff2'),
        url('fonts/Arita-dotum-Light_OTF00.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aritaum';
    src: url('fonts/Arita-dotum-SemiBold_OTF00.woff2') format('woff2'),
        url('fonts/Arita-dotum-SemiBold_OTF00.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aritaum';
    src: url('fonts/Arita-dotum-Thin_OTF00.woff2') format('woff2'),
        url('fonts/Arita-dotum-Thin_OTF00.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
